@import "mixin.scss";

$font-size: 20px;
$breakpoint: 640px;
$breakpoint-tb: 960px;
$breakpoint-sp: 480px;

.portfolio__header {
  font-size: $font-size;
  width: 90%;
  padding: 5px 0;
  display: none;
  @include max-screen($breakpoint-sp) {
    display: none;
  }

  &__nav {
    width: 100%;
    margin: 15px auto;

    &__list {
      display: flex;
      justify-content: center;
      width: 100%;
      list-style: none;
      padding: 0;

      &__item {
        width: 25%;

        &__link {
          font-family: 'Noto Sans JP';
          display: flex;
          justify-content: center;
          text-decoration: none;
          font-size: 1.5em;
          @include max-screen($breakpoint) {
            font-size: 0.9em;
          }
          color: #000000;

        }
      }

    }
  }
}